@import '~@angular/material/theming';

@include mat-core();

$palette: (
  50: #e4f2f6,
  100: #bcdfe7,
  200: #90c9d8,
  300: #64b3c8,
  400: #42a3bc,
  500: #2193b0,
  600: #1d8ba9,
  700: #1880a0,
  800: #147697,
  900: #0b6487,
  A100: #b7e8ff,
  A200: #84d8ff,
  A400: #51c8ff,
  A700: #37c0ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$main-color: mat-color($palette, 500);

$candy-app-primary: mat-palette($palette);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);
$candy-app-warn: mat-palette($mat-red);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
@include angular-material-theme($candy-app-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  opacity: 0.9;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-image: linear-gradient(white, white), url('/assets/large-bg.jpg');
  background-size: cover;
  background-blend-mode: saturation;
}

a {
  color: #2193b0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
