<h2>Customers</h2>
<p>
  <a mat-raised-button color="primary" [routerLink]="['.', 'new']"
    >Add Customer</a
  >
</p>
<div *ngIf="customers$ | async as customers">
  <div class="row header">
    <p class="edit">&nbsp;</p>
    <p class="name">Name</p>
    <p class="country">Country</p>
    <p class="birthdate">Date of Birth</p>
  </div>
  <ng-container *ngIf="customers.length > 0; else noCustomers">
    <div class="row" *ngFor="let customer of customers">
      <p class="edit">
        <a [routerLink]="['.', customer.id]"><mat-icon>edit</mat-icon></a>
      </p>
      <p class="name">{{ customer.firstname }} {{ customer.name }}</p>
      <p class="country">{{ customer.country }}</p>
      <p class="birthdate">{{ customer.birthdate | date }}</p>
    </div>
  </ng-container>
  <ng-template #noCustomers>
    <p>We don't have any customers yet 😥</p>
  </ng-template>
</div>
